<% unless @order.line_items.empty? || @response.nil? 
    handler_url = Spree::Config[:use_google_sandbox] ?
      "https://sandbox.google.com/checkout/" : "https://checkout.google.com/"   
    handler_url += "api/checkout/v2/checkout/Merchant/#{@gc_configuration[:merchant_id]}"
%>
  <div id='google_checkout_button'>
    <form method="POST" action="<%= handler_url %>">
      <%= hidden_field_tag :cart, Base64.b64encode(@response) %>
      <%= hidden_field_tag :signature, signature(@response, @gc_configuration[:merchant_key]) %>
      <%= google_checkout_button(@gc_configuration[:merchant_id]) %>
    </form>
  </div>
<% end -%>	 
